mixin head(title, script, stylesheets)
  - var assetBaseSafe = (typeof assetBase === 'undefined') ? '/' : assetBase
  doctype html
  html(lang="en")
    head
      meta(charset="UTF-8")
      meta(name="description" content="Collection Tracker for FIFA World Cup 2026 Stickers")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      title= title + ' : Collection Tracker'
      link(rel="preconnect" href="https://fonts.googleapis.com")
      link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
      each stylesheet in stylesheets
        link(rel="stylesheet" href=assetBaseSafe + 'styles/' + stylesheet)
      script(type="module" src=assetBaseSafe + 'scripts/' + script)